server:
  port: 8082
spring:
  application:
    name: media-service
  datasource:
    url: jdbc:mysql://localhost:3306/social_media_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

logging:
  level:
    org.hibernate.SQL: DEBUG

# Directory where media files will be stored
media:
  upload-dir: C:\Users\LENOVO\Desktop\FS-Project\media-service\src\main\java\com\socialmedia\media_service\resources





eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka  # replace with actual Eureka Server URL
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always