aside {
  position: fixed;
  top: 0;
  width: 30rem;
  max-width: 80%;
  height: 100vh;
  background: #f3f3f3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: left 0.3s ease-out;
  border: '2px solid red'; 
  padding: '1rem';
  position: 'fixed';
  top: '10px';
  left: '10px';
        
}

header {
  padding: 1rem;
  background: black;
}

header h1 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}
