*{
  box-sizing: border-box;
}

.search-section{
margin-block: 15px;
  width: 100%;
 
  border-radius: 20px;
      box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.1);
}
.search_bar{
  display: flex;
  font-family: sans-serif;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 10px;
  width: 100%;
  height: 50px;
  border-radius: inherit;
  background-color:#ffffff;
}
.search_bar>input{
  all: unset;
  border: 0px white;
  border-radius: 15px;
  width: inherit;
  border-radius: inherit;
  padding: 10px;
  
}
.search_bar>button{
  border: 0px;
  all: unset;
  background-color: #bfe960;
  color: rgb(80 80 80);
  padding: 12px 10px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  width: 23px;
  height: 23px;
  border: 1px solid rgb(255 255 255);
  box-shadow: 0px 5px 0px 3px rgba(0, 0, 0, 0.1);
}
.search-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 30%;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.search-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.search-dropdown li:hover {
  background-color: #f0f0f0;
}
.dropdown-profile-img
{
  width: 50px;
  height: 50px;
  border: 3px solid yellow;
  border-radius: 25px;
}
