.section-right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.notification-section{
  border-radius: 20px;
      background: linear-gradient(to bottom, #d8d25a, #6e00ff);
  height: 100%;
  width: 100%;
  padding: 10px;
  box-shadow: 1px 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.bell {
  display: flex;
  justify-content: center;
}


.bell>button{
  all: unset;
   background-color: #ddf3ab;
  color: rgb(80 80 80);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  border: 1px solid rgb(153, 240, 95);
  box-shadow: 0px 5px 0px 3px rgba(0, 0, 0, 0.1);
}

.notification>div{
  background-color: rgb(191, 235, 116);
  border-radius: 15px;
}