*{
    border: 0px  ;
    margin: 0px;
}
.RegisterPage{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #5a9bd8, #6e00ff);
    height: fit-content;
    padding-block: 10px;

}
.register-page{
    padding-block:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: linear-gradient(to bottom, #ff0707, #d4ff00);
    
    height: 100vh;
    border-radius: 10px;
}
.interestsFormGroup>label{
    margin-right: 5px;
}

