*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    width: 100%;
}

.left{
    background-color: blue;
    width:8%;
    border-radius: 2px;
}

.right{
    display: flex;
    background-color: blueviolet;
    width: 91%;
    justify-content: space-between;
}
.content{
    display: flex;
    width: 100%;
}
.leftSideBar{
    display: grid;
    background-color:rgb(14, 23, 110);
    height: fit-content;
    width: 8%;

}
.items{
    display: grid;
    color: rgb(74, 158, 231);
   
}

.items>ul{
    padding: px;
}

.items li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    border:1px solid black;
    padding:10px;
}
.rightSidBar{
    background-color:rgb(249, 245, 245);
    height: 70vh;
    width: 91%;
    padding: 2px;

}

.miniNav ul{
    background-color: aqua;
    display: flex;
    justify-content: flex-start;
    padding: 1px;
    gap: 2%;
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.top_content{
    display: flex;
    width: 100%;
    background-color: aliceblue;
    
}

.attendence_stats{
    width: 33%;
    background-color: blue;
    padding: 2px;
}
.timings{
    width: 33%;
    background-color: rgb(80, 80, 230);
}
.actions{
    width: 33%;
    background-color: rgb(99, 99, 224);
}

.attendence_box{
    border: 2px solid black;
    padding: 12px;
}
.row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.me{
    display: flex;
    padding: 2px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    width: 33%;
    justify-content: center;
}
.avg{
    display: grid;
    padding: 2px;
    border:1px solid black;
    justify-items: center;
    width: 33%;

}
.avg>p:first-child{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    font-size: x-small;
}
.avg>p:nth-child(2)
{
    font-size: larger;
}
.on_time{
    display: grid;
    padding: 2px;
    border: 1px solid black;
    justify-items: center;
    width: 33%;
}
.on_time>p:first-child{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    font-size: x-small;
}
.row2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.my_team{
    display: flex;
    padding: 2px;
    font-size: x-small;
    border: 1px solid;
    width: 33%;
   
    justify-content: center;
}
.avg1
{
    font-size: x-small;
    width: 33%;
    padding: 2px;
    border: 1px solid black;
    justify-items: center;
}
.on_time1{
    font-size: x-small;
    width: 33%;
    padding: 2px;
    border: 1px solid black;
    justify-items: center;
}

