.page-wrapper {
  display: flex;
  background: #f9eaea;
  height: fit-content;
  padding: 20px;
  gap: 20px;
}
.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
}
.icon {
      background: white;
    padding: 10px;
    font-size: 24px;
    border-radius: 12px;
    box-shadow: 1px 9px 3px 0px #ccc;
    cursor: pointer;
    border: 1px solid #d8bcbc;
}

.upload-section{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-end;
}


.upload-card {
  width: inherit;
    flex-grow: 1;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    flex-direction: column;
}
.upload-card{
    font-family: sans-serif;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ad7474;;
}
.plus {
    cursor: pointer;
  font-size: 40px;
  background: #b3a4ef;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  margin: 10px;
    
}


.preview {
  max-width: 100%;
  max-height: 300px;
  border-radius: 0px;
}

.description-card {
  background: white;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  margin-top: 10px;
  width: inherit;
}

textarea {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  font-size: 16px;
  resize: none;
  color: #5b2d2d;
}

.music-info {
  color: #444;
  font-size: 14px;
  margin-top: 10px;
}

.submit-button{
    font-family: sans-serif;
}
.post-button{
    all: unset;
    background-color: #bfe960;
    color: rgb(80 80 80);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    border: 1px solid rgb(255 255 255);
    box-shadow: 0px 5px 0px 3px rgba(0, 0, 0, 0.1);
}
.catagory{
  display: flex;
  align-content: flex-start;
    background: white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: inherit;
}

.catagory label{
  margin-right: 30px;
}
.catagory input{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.radioInputForm{
  display: flex;
  
}