*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

p,span{
    font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}


.heading_row1 {
    padding-inline: 50px;
    padding-block: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    font-size: small;
}
.heading_row1 .fourth{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.profile_btn{
    all:unset;
    border-radius: 20px;
    cursor: pointer;
}

/*////////////////////////////*/
.profile_card {
    z-index: 999;
    display: grid;
    background-color: #ffffff;
    width: 200px;
    padding: 10px;
   border: 1px solid #ccc;
   border-radius:5px ;
    position: absolute;
    top: 50px;
    right: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease;
  }
  
  .profile_card button{
    
    width:100%;
    all:unset;
    display: flex;
    padding-block:5px ;
    padding-inline: 2px;
    height: auto;
    cursor: pointer;
  }
  .profile_btn:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   
    transition-timing-function: ease-in;
  
  }
  .profile_card button:hover{

    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease;
    transition-property: background-color;
    background-color: #fd5e86;
    transition-delay: 0.1s;
    transition-timing-function: ease-in;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .profile_card p{
    text-decoration-color: #ec2050;
  }
  .profile_card button:nth-child(2){
    border-bottom:1px solid #211d1d;
  }
  .profile_hidden {
    display: none;
  }
  .guest_hidden{
    display: none;
  }
  

.guest_count{
    display: flex;
    width:100%;
    border-radius: 10px;
    justify-content:center;
    background-color: #d9d0d0;
    z-index: 20;
}
.guest_catagories
{
    position: absolute;
    background-color:white;
    z-index: 20;
    border-radius: 10px;
    padding: 15px;
    padding-inline: 20px;
    margin-left:10%;
    width: 260px;
    box-shadow: 2px 5px 8px 12px rgba(0, 0, 0, 0.1);
}
.adults{
    display:flex;
    justify-content: space-between;
}
.Adults_counter{
    display: flex;
    align-items: center;
    width:60px;
    justify-content: space-between;
}
.Adults_counter div{
    width:10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 5px;
}

.Adults_counter button{
    
    all:unset;
    display: flex;
    cursor: pointer;
    border:1px solid rgb(152, 143, 143);
    border-radius: 20px;
    
  
}
.heading_row2{
    display: flex;
    justify-content: center;
    border:1px solid rgb(249, 244, 244);
    padding-block: 0px;
    
}

.margin {
    display: grid;
    padding-block: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    padding-inline: 10px;
    height: 100%;
    margin: 0;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.margin>div{
    border-left: 1px solid rgb(234, 230, 230);
    
}

.margin div:first-child{
 
    border-left: hidden;
}
.search_bar1{
    padding-block: 3px;
    margin-left: 10px;
    padding-inline: 30px; 
    margin-inline-start: -5%;
    
}
.search_bar1:hover{
    transition-property: background-color;
    border-radius: 20px;
    background-color: #EBEBEB;
    transition-property: border;
    border-radius: 20px;
    
}
.search_bar2:hover{
    transition-property: background-color;
    border-radius: 20px;
    background-color: #EBEBEB;
    transition-property: border;
    border-radius: 20px;
    
}
.who_section:hover{
    transition-property: background-color;
    border-radius: 20px;
    background-color:#EBEBEB;
    transition-property: border;
    border-radius: 20px;
    
}
.search_bar2{
    padding-inline: 10px;
    padding-block: 3px;
   border-top: 1px;
}
.search_bar1 p:first-child{
    margin-bottom: 2px;
    font-size: x-small;
    font-weight: bold;

}
.search_bar1 p:nth-child(2){
    font-size: x-small;
}
.search_bar2 p:first-child{
    margin-bottom: 2px;
    font-size: x-small;
    font-weight: bold;

}
.search_bar2 p:nth-child(2){
    font-size: x-small;
}
.who_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:60px;
    padding-inline-start: 10px;
    margin-inline-end: -5%;
}
.who p:first-child{
    font-size: x-small;
    font-weight: bold;

}
.who p:nth-child(2){
    font-size: x-small;
}
.search_btn{
    display: flex;
    justify-content: center;
  align-items: center;
}
.search_btn>button{
    display: flex;
   
    all: unset;
    background-color: #ec2050;
    color: aliceblue;
    padding: 10px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    cursor: pointer;

}

.logo{
    width: 75px;
    display: grid;
    align-content: center;
}
.logo img{
    width: 100%;
    display: flex;
}


.choices
{
    
    display: flex;
    margin-left: 100px;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.choices p:first-child{
    font-weight: bold;
}

.home{
    display: flex;
    width: 150px;
    gap:10px;
}

.net_img{
    width: 10%;
}
.net_img img{
    width: 90%;
}

.profile{

    border-radius: 23px;
    display: flex;
    gap: 4px;
    padding: 6px;
    width: 50px;
    border: 1px solid rgb(215, 215, 215);

}



.catagories{
    display: flex;
    border: 1px solid rgb(233, 225, 225);
    margin-top: 15px;
    padding-inline:60px;
    align-items: center;

}
.catagories_first{
    display: flex;
    width: 95%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.catagories_second{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    width: 30%;
    

}

.scroll-btn {
    background: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 10px;
    width: 10px 10px;
    z-index: 1;
    border-radius: 50%;
 
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  

/* .amazing_views{
    
    display: grid;
    width: 10%;
    font-size:8px;
    margin-inline: 4px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
} */
.amazing_views {
    flex-shrink: 0; /* prevents items from shrinking */
    width: 60px; /* or any fixed size */
    height: 40px;
    margin: auto;
    background-color: #ffffff;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
   }

.amazing_views span{
    text-align: center;
}

.amazing_views:hover{
    box-shadow: 7px 4px 20px 0px rgba(0, 0, 0, 0.2);

    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    border-bottom: 2px solid black;
    transition-property: border-bottom;

}

.cimg{
    width: max-content;
    height: max-content;
}
.cimg img{
    width: 100%;
    
}
.filter_btn{
margin: 10px;
}
.filter_btn> button{
    all: unset;
    background-color: #ffffff;
    color: rgb(14, 14, 14);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap:10px;
    border: 1px solid rgb(95, 87, 87);
}
.filter_btn>button{
    font-size: x-small;
}
.prices{
    display: flex;
    font-size: small;
}
.prices>.img{
    width: 20px;
}
.grid{
    padding-block: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid rgb(216, 195, 195);
    padding-inline: 50px;
}
.card {
    display: grid;
    justify-content: center;
    font-size: small;
  }
  .card:hover{
    box-shadow: 0 4px 8px rgb(109, 117, 88);
    transition: opacity 0.3s ease;
    
  }
  
  .card_img_scroll {
    position: relative;
    width: 180px;
    height: 180px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 15px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }
  
  .img_wrapper {
    display: flex;
    height: 100%;
  }
  
  .img_wrapper img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    scroll-snap-align: start;
    flex-shrink: 0;
    margin-right: 5px;
  }
  
  .card_svg {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(resources/redHeart.png) no-repeat center center;
    height: 25px;
    width: 25px;
    background-size: contain;
    cursor: pointer;
  }
  
.card_svg.active {
    background: url(resources/redHeart.png) no-repeat center center;
}



.card_content{
    padding: 5px;

}

.location{
    display: flex;
    justify-content: space-between;
    
}
.low_color{
    color:#7a7373
}
.show_more_section{
    display: flex;
    justify-content: center;
    margin:50px ;
}
.show_more_child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.show>button{
    all: unset;
    background-color: #211d1d;
    color: rgb(246, 241, 241);
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: small;
}

.foot{
    display: flex;
    justify-content: flex-start;
    padding-inline: 20%;
    padding-block: 50px;
    margin-bottom: 100px;
    background-color: #F7F7F7
}

.foot_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
    width: 100%;
}
.foot_title{
    font-size: medium;
    font-weight: bold;
}
.foot_btn{
    display: flex;
    gap:10px;

}
.foot_btn p{
    font-size: small;
}

.foot_grid_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: 1px solid black;
    width: 100%;

}
.rentals{
  
    padding: 5px;
    margin-block: 10px;
}
.rentals p{
    font-size: x-small;
}
.rentals p:first-child{
    font-weight: bold;
}