.feed-section {
  padding-block: 20px;
  width: 100%;
  background: linear-gradient(to bottom, #5a9bd8, #ffb65c);
  display: flex;
  border:1px solid white;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
}
.feeds {
  border-radius: 20px;
  padding-inline: 20px;
  height: 600px;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
}
.media {
  width: 600px;
  height: fit-content;
  border-radius: 10px;
  background-color: rgb(255, 252, 249);
}
.media>img{
  z-index: 1000px;
  padding: 10PX;
}
.reactions {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: inherit;
}

.reactions > div {
  margin-right: 10px;
}

.comment {
  padding-inline: 10%;
  height: 40px;
  display: flex;
  align-items: center;
}
.description{
  background-color: white;

}

span{
  font-family: Arial, Helvetica, sans-serif;
  color: #714242;
  font-style: italic;
  font-size: small;
}