/* src/components/Login/Login.css */
.login-container {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
        background: linear-gradient(to LEFT, #c24a4a,#2393fc);
}

.login-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5PX;
}

.login-container button {
  width: 100%;
  padding: 8px;
  background-color: #3b82f6;
  color: white;
  border: none;
  cursor: pointer;
         background: linear-gradient(to RIGHT, #4402eb, #8ec24a);

}

.error {
  color: red;
  font-size: 14px;
}
